@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
header {
  background: url("../img/showcase.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 60px 0;
}

#navbar {
  display: block;
  margin: 0 auto;
}
#navbar .social {
  display: table;
  margin: 0 auto;
  padding: 20px;
}
#navbar .social ul {
  list-style: none;
  float: right;
}
#navbar .social ul li {
  float: left;
  display: inline;
  padding-right: 30px;
}
#navbar .social ul li a,
#navbar .social ul li a:visited {
  display: block;
  color: #fff;
}

#showcase {
  padding: 30px;
}
#showcase .showcase-search {
  display: block;
  margin: auto;
  text-align: center;
}
#showcase .showcase-search input {
  padding: 14px 15px;
  width: 30%;
  border: none;
}
#showcase .showcase-search .btn-light {
  border-radius: 0;
}
#showcase p {
  text-align: center;
  padding-top: 50px;
  width: 70%;
  margin: 0 auto;
  color: #fff;
}
#showcase p a,
#showcase p a:visited {
  color: #fff;
}

#search {
  padding: 40px 0;
}
#search .search-wrap {
  display: flex;
  justify-content: space-between;
}
#search .search-wrap-box {
  margin: 20px;
}
#search .search-wrap-box img {
  width: 100%;
}
#search .search-wrap-box p {
  padding: 20px;
  background: #f9f7f6;
  margin: 0;
}
#search .search-wrap-box .btn {
  width: 100%;
  text-align: center;
  border-radius: 0;
}

#mainfooter {
  background: #aedddb;
  color: #fff;
}
#mainfooter p {
  padding: 20px;
  text-align: center;
  margin: 0;
}

#article img {
  width: 80%;
  display: block;
  margin: 0 auto;
}
#article p {
  margin: 20px;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 10px 0;
  }

  #navbar .social ul li {
    padding: 10px;
  }

  #showcase {
    padding: 10px;
  }
  #showcase .showcase-search input {
    width: 60%;
  }
  #showcase p {
    padding-top: 20px;
    width: 80%;
  }

  #search {
    padding: 20px 0;
  }
  #search .search-wrap {
    flex-direction: column;
  }

  #article {
    text-align: center;
  }
  #article img {
    width: 100%;
  }
  #article p {
    margin: 0px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.2;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.large {
  font-size: 1.25rem;
}

.small {
  font-size: 0.8rem;
}

.display-1 {
  font-size: 6rem;
}

.display-2 {
  font-size: 5.5rem;
}

.display-3 {
  font-size: 4.5rem;
}

.display-4 {
  font-size: 3.5rem;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  font-weight: 300;
  line-height: 1.2;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-light {
  font-weight: lighter;
}

.font-weight-normal {
  font-weight: normal;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 20px;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.m-5 {
  margin: 3rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

.mr-5 {
  margin-right: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 1.5rem;
}

.ml-5 {
  margin-left: 3rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.p-4 {
  padding: 1.5rem;
}

.p-5 {
  padding: 3rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pr-4 {
  padding-right: 1.5rem;
}

.pr-5 {
  padding-right: 3rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pl-4 {
  padding-left: 1.5rem;
}

.pl-5 {
  padding-left: 3rem;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.w-auto {
  width: auto;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.h-auto {
  height: auto;
}

.btn-outline, .btn-dark, .btn-light {
  display: inline-block;
  font-size: 15px;
  padding: 13px 25px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
}
.btn-outline:hover, .btn-dark:hover, .btn-light:hover {
  transform: scale(0.98);
}

.btn-light {
  background: #ffcd2b;
  color: #fff;
}
.btn-light:hover {
  background: #ffd95e;
}

.btn-dark {
  background: #4d4d4d;
  color: #fff;
}
.btn-dark:hover {
  background: #676767;
}

.btn-outline {
  background: #fff;
  color: #ffcd2b;
  font-weight: bold;
  border: 2px solid #ffcd2b;
}
.btn-outline:hover {
  background: #ffd95e;
  color: #fff;
}

form label {
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
form .form-group {
  margin-bottom: 1rem;
}
form .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.7rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/*# sourceMappingURL=style.css.map */
